body{
 color: white;
  background-color: hsla(0, 22%, 4%, 0.774);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  color: black;
  background-color: antiquewhite;
  box-shadow: 10px 10px 10px rgba(245, 245, 220, 0.329);
  border: 1.5px solid antiquewhite;
  border-radius: 10px;
  max-width: 450px;
  padding: 10px 20px 100px 20px;
  margin: 200px auto;
}

h1{
  font-size:50px;
  text-align: center;
}

.form{
  background-image: linear-gradient(180deg, rgb(228, 188, 137), rgb(237, 194, 194));
  border: 1.5px solid rgb(132, 86, 27);
  border-radius: 20px;
  padding: 40px 0px 40px 0px;
  display:grid;
  grid-gap: 5px;
  grid-template-columns: 60px 100px 150px 100px; 
  justify-self: center;
  align-self: center;
  grid-template-areas: 
  "i1 i1 i2 b";
}

.input1{
  grid-area: i1;
  background-color: antiquewhite;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 10px 30px 10px 10px;
  font-size: 13.5px;
  font-style: bold;
  margin:0 0 0 20px;
}
.input2{
  grid-area: i2;
  background-color: antiquewhite;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 10px 20px 10px 10px;
  font-size: 13.5px;
  margin:0 0 0 0;
}

button {
  grid-area: b;
  background-color: hsl(120, 100%, 29%);
  color: white;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 13px 30px 10px 30px;
  cursor: pointer;
}

button:hover{
  background-color: hsla(120, 100%, 24%);
}

.list{
  padding-top: 10px;
  margin:0 0 0 50px;
  display:grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 80px 160px 105px; 
  justify-self: center;
  align-self: center;
  grid-template-areas: 
  "c a b d";
}

.todo1{
  grid-area: a;
  font-size: large;
  font-weight: bold;
  margin:0 0 0 0px;
  padding-top: 10px;
}
.todo2{
  grid-area: b;
  font-size: large;
  font-weight: bold;
  padding-top: 10px;
  margin:0 0 0 25px;
}
.checkbox{
  grid-area: c;
  background-color: antiquewhite;
  padding: 1px 2px 1px 1px;
  margin:0 0 0 0;
}

.delete-btn {
  grid-area: d;
  background-color: hsl(0, 83%, 47%);
  color: white;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 13px 30px 10px 30px;
  margin:0 0 0 10px;
}

.delete-btn:hover{
  background-color: hsl(0, 83%, 44%);
  cursor: pointer;
}
